@model nash_bike_trip.Models.Trip

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Plan Your Trip</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.DepartureTitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DepartureTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DepartureTitle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ArrivalTitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ArrivalTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ArrivalTitle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TripDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TripDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TripDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TripNotes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TripNotes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TripNotes, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save Trip" class="btn btn-default" />
                <input onclick="calcRoute();" value="Find Route Trip" class="btn btn-default" />

            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>



<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #map {
        height: 100%;
    }
</style>



    <form>
        <label>Your Address: </label>
        <input id="start" value="500 Interstate Blvd. Nashville, TN" type="text">
        <label>Destination: </label>
        <input id="end" value="617 Whispering Hills Drive, Nashville, TN 37211" type="text">
        <input type="button" value="Update" onclick="calcRoute();">
        <br />
        @*<label>Start title: </label>
        <input value="School" type="text">
        <label>end title: </label>
        <input value="Home" type="text">
        <br />
        <input type="button" value="Save trip for later">*@

        <!-- ----note:  already have bike layer set so wont need the below - commenting out  -->
        <!-- <button onclick="setLayer('Bicycling')">Bicycling Layer</button>  -->
    </form>



<div id="map" style="width: 900px; height: 600px"></div>




    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0N9rm7_COzKRN-2OEYsJDpJwLTCjQQis&callback=initialize"
            async defer></script>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}