@model nash_bike_trip.Models.Trip

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Trip</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DepartureTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArrivalTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrivalTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TripDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TripDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TripNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TripNotes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TripId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
